<h1>File Upload</h1>
<form enctype="multipart/form-data" action="/" method="post">
  <input type="file" name="myFile">
  <input type="submit" class="btn btn-danger">
</form>

<h2>Images</h2>
<div id="container">
<% images.forEach(function(image){ %>
  <% var imgUrl = cloudinary.url(image, {width: 250, height: 250}); %>
  <img src="<%= imgUrl %>">
<% }) %>
</div>
